<body>

<% unless current_user  %>
  <form action="/users/new" method="post"><button>Sign Up</button></form>
  <form action="" method""><button>Login</button></form>
 <% end %>
 
  <% if current_user %>
    Welcome, <%= current_user.email %>
  <% end %>
  <%= yield %>

</body>